---
---

@import "{{ site.theme }}";

.main-content {

  @include large {
    max-width: 80rem;
    padding: 2rem 2rem;
  }
  
  @include medium {
    padding: 2rem 2rem;
  }
}

.site-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}
